{% extends "TestBlogBundle::layout.html.twig" %}


{% block contenu %}
{% block title %} Liste article{% endblock %}
br><br><br><br><br><br>
<div class="container">
	<div class="row">
		{% for article in listeArticle %}
		<div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a class="img-thumbnail" style="height: 183px; width: 270px; overflow: hidden; position: relative" href="#">
                            <img style="height: 183px; width: auto; margin: auto" src="{{asset(vich_uploader_asset(article.getCover, "imageFile"))}}" class="img-responsive img-box">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="sintret">
                                        <img style="width: 100px; height: 100px" class="circle img-thumbnail img-box" src="http://www.pentall.com/images/default.png" alt="sintret">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="sintret">
                                            <small>{{article.getUser.getPrenom ~ " " ~ article.getUser.getNom}}</small>
                                        </a>
                                    </div>
																		<small>
												                <i  class="glyphicon glyphicon-calendar"></i><a style="margin-right: 10px">{{ article.getUpdated |date()}}</a> <i class="glyphicon glyphicon-comment"></i> <a style="margin-right: 10px" href="#comments">0 Commentaire(s)</a>
												            </small>
                                </div>
                            </div>
                        </div>
                        <h4><a href="{{path("voirArticle", {"id": article.getId})}}">{{ article.getTitre}}</a></h4>
                        <div style="width: auto; height: 40px; overflow: hidden">{{ article.getContenu|raw}}</div>
                    </div>
                </div>
                <hr>
								{% endfor %}
	</div>
</div>
{% endblock %}
